/* Your SCSS here. */

@mixin text($color, $size) {
    color: $color;
    font-size: $size;
    font-family:Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
    border: 0;
}

.background_image {
    background-image: url("../assets/UIUC_Quad.png");
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    background-size: cover;
}

$header_height: 70px;
$header_background: steelblue;
$header_font_size: 40px;

.h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $header_background;
    height: $header_height;
    vertical-align: middle;
    margin: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid lightskyblue;
}

.h_text {
    flex-grow: 1;
    @include text(white, $header_font_size);
    margin: 0;
    margin-top: ($header_height - $header_font_size) / 2;
    margin-left: 10px;
    text-align: left;
}

.f {
    border-top: 2px solid lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header_background;
    height: $header_height * 0.7;
    @include text(white, $header_font_size * 0.7);
}

.f_text {
    margin-left: 10px;
}

.nav_button_container {
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: ($header_height - $header_font_size) / 4;
    margin-right: 10px;
}

.nav_button {
    background-color: $header_background;
    border: 0px;
    @include text(white, $header_font_size / 2);
    // height: $header_font_size;
    &:hover {
        color:orange;
    }
    margin: 0;
}

$class_container_gap:100px;
$class_info_border_color: rgba(70, 131, 180, 0.685);

.class_list {
    display: flex;
    flex-direction: column;
    border-top: $header_height + $class_container_gap solid transparent;
    border-bottom: $class_container_gap solid transparent;
    gap: $class_container_gap;
}

.class_container {
    margin: 0;
}


.class_carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
    background-color: rgba(255, 166, 0, 0.521);
    width: 100%;
    align-items: center;
}

.class_carousel_button {
    background-color: transparent;
    border: 0;
    @include text(rgba(255, 255, 255, 0.603), 50px);
    text-align: center;

    &:hover {
        color: $class_info_border_color;
    }
    height: 400px;
}

.class_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $class_info_border_color;
    height: 20%;
    border-bottom: 5px solid rgba(70, 131, 180, 0.507);
}

.class_info_text {
    @include text(white, 30px);
    width: 33.3%;
    vertical-align: middle;
    text-align: center;
}

.class_interface_container {
    display: none;
    margin: 0;
    height: 400px;
    margin-bottom: 1.5%;
}

.class_interface {
    width: 80%;
    height: 80%;
    vertical-align: middle;
    margin-top: 1%;
}

.class_interface_header {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include text(white, 30px);
    background-color: $class_info_border_color;
    border-bottom: 5px solid rgba(70, 131, 180, 0.507);
}

.class_assignments {
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 20%;
    text-align: center;
    @include text(orange, 20px);
    border: 1px solid steelblue;
}

$assignment_background: rgb(255, 255, 255);

.due_date {
    text-align: center;
    background-color: $assignment_background;
    flex-grow: 1;
}

.assignment_name {
    text-align: center;
    background-color: $assignment_background;
    flex-grow: 5;
}

.interface_header_text {
    flex-grow: 1;
}

.interface_header_text2 {
    flex-grow: 5;
}

.grade {
    text-align: center;
    background-color: $assignment_background;
    flex-grow: 1;
}

@keyframes video_fade {
    from {opacity:0}
    to {opacity: 1}
}

.uiuc_video {
    vertical-align: middle;
    min-width: 30%;
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    border: 2px solid white;
}

.modal_open {
    flex-grow: .25;
    background-color: white;
    color: orange;
    &:hover {
        color:blue;
    }
    border: 0;
}

.modal {
    width: 50%;
    height: 20%;
}

.modal_close {
    margin-left: 95%;
    background-color: transparent;
    border: 0px;
    &:hover {
        color: red;
    }
}

.social_media {
    color: white;
}

.social_media_container {
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-right: 10px;
}

